<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Classroom Fun</font><br/><br/><br/>
    <font color="black" face="Garamond" size=8>
      Chitchatting during the lecture hours about the most useless stuff or wheat ever we get to our Brain.<br/>
       Sharing our pain in doing our projects.  Lol! Drawing on each other’s Hands. Hajmola.<br/>
      And sneaking into our bags for snacks. And yes not to forget sleeping during those boring lecture hours!
    </font><br/>
    <a href="/final"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
