<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>You people become close</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>Soon you people grew close, It was hard for both of you people<br/>
      not to text each other even for a day.
    </font><br/>
    <font color="black" face="Garamond" size=8>
      your friendship with hari grew stronger day by day.
    </font><br/>
    <a href="/exams"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
