<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Exam Times</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>It was a very tough time for both of you guys.
    </font><br/>
    <font color="black" face="Garamond" size=8>
      Since, you people has to prepare for the exams for long hours, you people used to miss each other<br/>
      Remember, taking breaks for a while to text or call him<br/>
      I think, that's the best feeling in the world!!!
    </font><br/>
    <a href="/goodday"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
