<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>After 1 year</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>
      Things were going normal, you people were still a friends. hari started working in some company<br/>
      You were doing engineering in mvj school of engineering.
    </font><br/>
    <font color="black" face="Garamond" size=8>
      After a long time, may be after one year. You said YES to his proposal<br/>
      I think hari was on cloud (nine or seven or something), i think cloud nine is maternity hospital, not that😂<br/>
      Then you people hugged each other and thats where this beautiful love story started.
    </font><br/>
    <a href="/nottheend"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
