<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Goa</font><br/><br/><br/>
    <font color="black" face="Garamond" size=8>
      Finally it was Dandeli and goa. The place which made us even more inseparable.<br/>
      Booking zoom car and Nandu’s and Goutham’s driving. The place where we saw the tiger piggies and black piggies .<br/>
      Lol ! The drunken night. The way we were proudly drinking. And yes not to forget my sink and our dance stuff.<br/>
      Next day it was an hangover indeed. But still the scene where we sat on a swing during our dinner is most cherished one.<br/>
      Kahan se aaya tha woh!
    </font><br/>
    <a href="/classroom"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
