<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>HI HARSHU PIGGY !!!</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>It's your birthday piggy !!</font><br/>
    <font color="black" face="Garamond" size=8>
      Wait, Before i wish let me tell you <br/>one amazing,cute and romantic love story
    </font><br/>
    <a href="/love-dove"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
