<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>LOVE DOVE</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>You remember Raspberry Workshop ?</font><br/>
    <font color="black" face="Garamond" size=8>
      I think, that's where its all started.
      What madam, Hari is awesome huh?? we all know he is awesome.<br/>
    </font><br/>
    <a href="/mistake"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
