<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Cute Mistake</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>You went and told chandan and veeresh that hari is awesome.</font><br/>
    <font color="black" face="Garamond" size=8>
      yes, ofcourse we know hari is awesome and like any other friends <br/> they started teasing you. i know you were enjoying it...😝
    </font><br/>
    <a href="/tease-it"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
