<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Nandi Hills</font><br/><br/><br/>
    <font color="black" face="Garamond" size=8>
      It was our first hang out! The one which made us close then ever. Initially it was just a Kolar ccd which later led to the routes of Nandi Hills.<br/>
      Our talks on chilly powder for self defence. Lol! Yes we three wore black and blue without even discussing about it! <br/>
      What a trio we are.
    </font><br/>
    <a href="/piggy"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
