<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Stop Blushing Dude.</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>
      Finally chotu committed.
    </font><br/>
    <font color="black" face="Garamond" size=8>
      still treat is pending dude.<br/>
      This was the cute, romantic love story of Hari and Harshita<br/>
      Harshu piggy, Don't you want to hear about our freindship ?? <br/>
      I know you want to, please click that pig soon.
    </font><br/>
    <a href="/mvj-days"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
