<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>MY harshu piggy</font><br/><br/><br/>
    <font color="black" face="Garamond" size=8>
      I got along so easily with you in very less days. If you weren’t there the last year of mine would have been the horrible year ever!<br/>
      Our piggy drawings over the benches and our piggy love!<br/>
      And our twinning scenes! Missing them a lot.
    </font><br/>
    <a href="/plannings"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
