<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Our Plannings</font><br/><br/><br/>
    <font color="black" face="Garamond" size=8>
      Ahhhh! Yes from Andaman to Goa! The way we used to browse for places while in the class.<br/>
      Checking for flight tickets , hotels and also enquiring about them. And the part where we had to call ppl for the trip.<br/>
       Haha! We were going gaga over the word trips and hangouts.
    </font><br/>
    <a href="/goa"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
