<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Propose Day</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>Paapa, Hari did everything possible to control his feelings on you.
    </font><br/>
    <font color="black" face="Garamond" size=8>
      But, oh kya kar saktha, he toh dil ki baath hai...(sorry for bad hindi) <br/>
      Finally, Our hero Mr. Hariharan (B.E MVJCE) proposed you on feb 25th <br/>
      with a unique, beautiful gift which he himself made for atleast 10 days.
    </font><br/>
    <a href="/result"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
