<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <img src="{{url_for('static',filename='img/4.jpg')}}" width="10%"></p>
  <p align="center">  <font color="black" face="Garamond" size=8>
      Remember something?
    </font><br/></p>
    <p align="center"><a href="/sd1"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
