<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Sandisk Love Story</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>I guess, you had given your sandisk 8gb sd card to hari's friend.</font><br/>
    <font color="black" face="Garamond" size=8>
      Hari was participating in one event, unfortunately he lost the event<br/>
      In anger, He took all his setup with your sd card to his home.<br/>
      So, SD card helped you get his first text. don't blush, still lot to go.
    </font><br/>
    <a href="/text"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
