<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Tease Flu</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>Friends are friends,even if the world collopse they won't stop teasing.</font><br/>
    <font color="black" face="Garamond" size=8>
      The news got circulated to hari class and they started teasing Hari.
    </font><br/>
    <a href="/vertex"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
