<html>
<head>
  <title>Happy Birthday Harshu Piggy</title>
  <style>
    body {
  background: #FFF;
}
</style>
</head>
<body>
  <p align="center">
    <font color="black" face="Garamond" size=10>Vertex</font><br/><br/><br/>
    <font color="black" face="Garamond" size=10>Even tough, you people know each other.</font><br/>
    <font color="black" face="Garamond" size=8>
      you people used to only say hi-bye to each other when you people meet.<br/>
      Then, vertex happend.
    </font><br/>
    <a href="/sd"><img src="{{url_for('static',filename='img/3.gif')}}"></a>
    </p>
    <p align="center">click me</p>
</body>
  </html>
